{% extends "OPPlatformBundle::layout.html.twig" %}

{% block title %}
  {{ 'Ajouter une annonce -'|trans }} {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>{{ 'Ajouter une annonce'|trans }}</h2>

  {{ include("OPPlatformBundle:Advert:form.html.twig") }}

  <p>
    {% trans %}
      Vous éditez une annonce déjà existante,
      merci de ne pas changer l'esprit général de l'annonce déjà publiée.
    {% endtrans %}
  </p>

  <p>
    <a href="{{ path('View_page', {'id': 13}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      {{ "Retour à l'annonce"|trans }}
    </a>
  </p>

{% endblock %}