{% extends "OPPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ 'Espace Administrateur'|trans }} - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>{{ 'Liste des utilisateurs'|trans }}</h2>

    <ul class="pagination">
        {% for u in listUsers %}
            <li class="active"> pseudo : {{ u.username }} - mail : {{ u.email }} - role :
                {% for r in u.roles %}
                    - {{ r }}
                {% endfor %}
            </li><br>
        {% endfor %}
    </ul>
    <h2>{{ 'Liste des anonces' }}</h2>
    <ul class="pagination">
        {% for ad in adList %}
            <li class="active">
                <p>
                <a href="{{ path('Edit_page', {'id': ad.id}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a href="{{ path('Delete_page', {'id': ad.id}) }}" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
                    {{ 'advert.admin.test'|transchoice(ad.published, {'%id%' : ad.id, '%author%' : ad.author, '%title%' : ad.title}) }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}