{% extends "OPPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Liste des annonces</h2>

  <ul class="pagination">
    {% for a in listAdverts %}
      <li>
        <a href="{{ path('View_page', { 'id' : a.id}) }}">{{ a.title }} par {{ a.author }} - upadted at {{ a.updatedAt|date('d/m/Y') }}</a>
      </li><br>
      {% if a.image is not defined %}
        <img src="{{ a.image.url }}">
      {% endif %}
    {% endfor %}
  </ul>

{% endblock %}